.about {
    background: cornflowerblue;
    border: black solid 5px;
}
.quiz {
     background-color: grey;
     border: black solid 5px;
     padding: 20px; 
}
.results {
    background-color:cornflowerblue;
}
.aboutText {
   padding: 20px; 
   
   /* margin-top: 50px; */
   

    }
    .bigBox {
        border: black solid 5px;
    }
    img {
        border: 5px black solid;
        border-radius: 50%;
        box-shadow: 10px 10px rgba(0,0,0,.25);
    }
    .score {
        display: flex;
        justify-content: center;
        margin-top: 60px;
       font-size: 75px;
       font-weight: bold;
        
    }